<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistent.dao.course.CourseDAO">
    <select id="findCourses" resultType="java.util.List">
        select * from course
    </select>
    <select id="findCourse" resultType="persistent.pojo.course.Course">
        select * from course
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="teaid != null">
                AND teaid = #{teaid}
            </if>
            <if test="info != null">
                AND info = #{info}
            </if>
            <if test="sourse != null">
                AND sourse = #{sourse}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="imageview">
                AND imageview = #{imageview}
            </if>
        </trim>
    </select>
</mapper>