<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistent.dao.CourseDAO">
    <!-- 查找个人课程 -->
    <select id="findCourses" resultType="Course">
        select * from course c, course_stu cs
        <where>
            c.id = cs.course_id and cs.stu_id = ${id}
        </where>
        ORDER BY start_time desc limit ${(page-1)*maxLimit}, ${maxLimit}
    </select>

    <!-- @test
    <select id="testFindCourses" resultMap="user_course">
        select c.name, u.username, u.id, c.id from course c, course_stu cs, user u
        <where>
            c.id = cs.course_id and u.id = cs.stu_id and cs.stu_id = ${id}
        </where>
    </select>
    <resultMap id="user_course" type="persistent.pojo.TestPojo">
        <id property="user.id" column="alias" />
        <result property="user.username" column="u.username" />
        <collection property="courses" ofType="persistent.pojo.course.Course">
            <id property="id" column="alias" />
            <result property="name" column="alias" />
        </collection>
    </resultMap>
    -->


    <!-- 查找相关课程 -->
    <select id="findCourse" resultType="persistent.pojo.course.Course">
        select * from course
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="id != 0">and id = #{id}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="score != 0">and score = #{score}</if>
        </trim>
    </select>

    <!-- 最新的课程 -->
    <select id="findNewestCourses" resultType="persistent.pojo.course.Course">
        select *
        from course
        order by start_time desc
#         limit ${(start-1)*maxLimit}, ${maxLimit}
    </select>

    <!-- 插入课程 -->
    <insert id="insertCourse" parameterType="persistent.pojo.course.Course" keyProperty="id">
        insert into course
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="teaid != 0">teaid,</if>
            <if test="type != null">type,</if>
            <if test="overview != null">overview,</if>
            <if test="source != null">source,</if>
            <if test="poster != null">poster</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="teaid != 0">#{teaid},</if>
            <if test="type != null">#{type},</if>
            <if test="overview != null">#{overview},</if>
            <if test="source != null">#{source},</if>
            <if test="poster != null">#{poster},</if>
        </trim>
    </insert>

    <!-- 加入课程 -->
    <insert id="joinCourse">
        insert into course_stu
        value (#{c_id}, #{s_id})
    </insert>

    <update id="updateCourse">
        update course
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="overview != null">overview = #{overview},</if>
            <if test="source != null">source = #{source},</if>
            <if test="poster != null">poster = #{poster},</if>
        </trim>
        where teaid = #{teaid}
    </update>

</mapper>