<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistent.dao.CourseDAO">
    <!-- 查找个人课程 -->
    <!--<resultMap id="coursesMap" type="course">-->
    <!--<id property="id" javaType="Integer"></id>-->
    <!--</resultMap>-->
    <select id="findCourses" resultType="persistent.pojo.course.Course">
        select * from course c, course_stu cs
        <trim prefix="WHERE" prefixOverrides="and">
            c.id = cs.course_id and cs.stu_id = ${id}
        </trim>
        ORDER BY start_time desc limit ${(start-1)*maxLimit}, ${maxLimit}
    </select>

    <!-- 查找所有课程 -->
    <select id="findCourse" resultType="persistent.pojo.course.Course">
        select * from course
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="id != 0">and id = #{id}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="teaid != 0">and teaid = #{teaid}</if>
            <if test="overview != null">and overview = #{overview}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="score != 0">and score = #{score}</if>
            <if test="max_person != null">and max_person = #{max_person}</if>
            <if test="start_time != null">and start_time = #{start_time}</if>
            <if test="end_time != null">and end_time = #{end_time}</if>
        </trim>
    </select>

    <select id="findNewestCourses" resultType="persistent.pojo.course.Course">
        select *
        from course
        where start_time >= ${date}
    </select>

    <!-- 插入课程 -->
    <insert id="insertCourse" parameterType="persistent.pojo.course.Course" keyProperty="id">
        insert into course
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="teaid != 0">teaid,</if>
            <if test="type != null">type,</if>
            <if test="overview != null">overview,</if>
            <if test="source != null">source,</if>
            <if test="poster != null">poster</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="teaid != 0">#{teaid},</if>
            <if test="type != null">#{type},</if>
            <if test="overview != null">#{overview},</if>
            <if test="source != null">#{source},</if>
            <if test="poster != null">#{poster},</if>
        </trim>
    </insert>

    <update id="updateCourse">
        update course
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="overview != null">overview = #{overview},</if>
            <if test="source != null">source = #{source},</if>
            <if test="poster != null">poster = #{poster},</if>
        </trim>
        where teaid = #{teaid}
    </update>

</mapper>